// Override bulma styles so that buttons are aligned as column
.buttonBox__container {
  display: flex;
  flex-direction: column !important;
}

.buttonBox__subtitle {
  // Using important to override Bulma default margin
  margin-bottom: $s-size !important;
  text-align: center;
}