.container__main {
  padding: 0.5rem 0 0.5rem 0;
  max-width: 650px;
  margin: 0 auto;
}

.container__input {
  display: flex;
  flex-direction: vertical;
  align-content: space-between;
  justify-content: center;
  align-items: center	;
}

.container__header {
  // Insert
}

.container__footer {
  // Insert
}