.container__main {
  padding: $s-size $xs-size $s-size $xs-size;
  max-width: 780px;
  margin: 0 auto;
  // border-radius: 5px;
  background-color: white;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;

}



