.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  text-align: center;
  // using important to override bulma margin
}

.footer__margin-bottom {
  margin-bottom: $xs-size !important;
}