.lawmaker__container {
  // padding: 0 $s-size $s-size $s-size;
  width: 90%;
}

// We override bulma th so it has same padding as tbody rows
.lawmaker__th {
  padding: 3px 6px 3px 6px !important;
}

.lawmaker__table-container--R {
  color: $republican !important;
}

.lawmaker__table-container--D {
  color: $democrat !important;
}

