.lawmaker__container {
  padding: 0 $s-size $s-size $s-size;
  width: 100%;
}

.lawmaker__table-container {
  border: 1px black solid;
  padding: $xs-size;
  border-radius: 5px;
}

.lawmaker__table-container--R {
  border-color: red;
}

.lawmaker__table-container--D {
  border-color: blue;
}

.lawmaker__name {
  // using important to override bulma style
  margin-bottom: $xs-size !important;
}

// .lawmaker__table {

//   tr td:nth-child(2) {
//     padding-left: $s-size;
//   }
// }