.lawmaker__container {
  width: 90%;
}

// We override bulma <th> so it has same padding as tbody rows
.lawmaker__th {
  padding: 3px 6px 3px 6px !important;
}

.lawmaker__th-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 500px) {
    flex-direction: column;
  }

}

.lawmaker__district {
  font-size: $size-7 !important;

  @media (min-width: 500px) {
    font-size: $size-6 !important;
  }
}

.lawmaker__break-word-container {
  // breaks up long words on small screens
  @media (max-width: 400px) {
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
  }
}

.lawmaker__republican {
  color: $republican !important;
}

.lawmaker__democrat {
  color: $democrat !important;
}

.lawmaker__telephone {
    &:before {
    content: "\260E";
    margin-right: 0.5em;
}
}

.lawmaker__email {
  // Because email addresses can be long, hide email symbol on mobile
  @media (min-width: 365px) {
    &:before {
      content: "\1F4E7";
      margin-right: 0.5em;
  }
  }
}


.lawmaker__republican-phone {
  @extend .lawmaker__republican;
  @extend .lawmaker__telephone;
}

.lawmaker__democrat-phone {
  @extend .lawmaker__democrat;
  @extend .lawmaker__telephone;
}

.lawmaker__republican-email {
  @extend .lawmaker__republican;
  @extend .lawmaker__email;
}

.lawmaker__democrat-email {
  @extend .lawmaker__democrat;
  @extend .lawmaker__email;
}

.lawmaker__republican-sub {
  @media (max-width: 450px) {
    color: $grey-dark !important;
  }
}

.lawmaker__democrat-sub {
  @media (max-width: 450px) {
    color: $grey-dark !important;
  }}
