.logo__container {
  margin: 0 $xs-size 0 $xs-size;
}

.logo {
  display: block;
  max-width: 37px;
  max-height: 37px;
  width: auto;
  height: auto;
  opacity: 0.3;
  // width: 100%;

  // hide logo on small screens because it looks awkward
  // @media (max-width: 460px) {
  //   display: none;
  // }
}