.messageBox__container {
  padding: 0 0 $s-size 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.messageBox__icon {
  margin: 0 0.5em 0 0;
}

.messageBox__icon--danger {
  color: $danger;

}