.messageBox__container {
  padding: 0 $xs-size $s-size $xs-size;
  display: flex;
  justify-content: center;
  align-items: center;

}

.messageBox__icon {
  margin: 0 0.5em 0 0;
}

.messageBox__icon--danger {
  color: $danger;
}

.messageBox__icon--success {
  color: $success;
}