/*BOX-SIZING: Below, we've set up a universal selector for boxes. It means
that when we set the height for an input box, it sets the whole
height and excludes margins and padding. Those can throw off our 
style. It's something Andrew Mead does for all his projects */

* {
  box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body {
color: black;
background: white;
font-family:  'Benton Sans', Arial, sans-serif; // PennLive fonts
}

// PennLive article text styles
p {
font-size: 1.55rem; // PennLive article font size
line-height: 1.6; // PennLive article line height
letter-spacing: .013em;
margin-bottom: 16px;
}

// PennLive headline styles
h1 {
  margin-bottom: 10px;
  font-size: 2.3rem;
  color: #222;
  line-height: 1.25;
  letter-spacing: -.01em;
}

button {
cursor: pointer;
}

.button:disabled {
opacity: 0.65; 
cursor: not-allowed;
}

.is-active {
font-weight: bold;
}

