// Colors
$off-white: #f6f5ff;
$table-hover: #f7f7f7;
$orange: #ffab11;
$pennlive-yellow: #FADA81;
$pennlive-blue: #21406F;
$pennlive-link: #1565c0;
$pennlive-link-hover: #08e;

// Sunlight Foundation data viz colors
$background: #EFECEA;
$background-light-accent: #F5F3F2;
$background-dark-accent: #E5E2E0;
$text-main: #635F5D;
$text-light: #8E8883;
$line-white: #FFFFFF;
$line-grey-accent: #C0C0BB;
$map-hover: #e5e5e5;

// Font size
$font-size-large: 2.1rem;
$font-size-table: 1.3rem; // Adjusted font size to accomodate all table data
$font-size-small: 1.55rem; // PennLive article font size
$font-size-x-small: 1.2rem;
$font-size-xx-small: 1rem;


// font style
$georgia: Georgia, 'Times New Roman', Times, serif;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$xm-size: 2.3rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$lg-screen-breakpoint: 900px;
$desktop-breakpoint: 45rem;
$upper-breakpoint: 700px;
$mid-breakpoint: 550px;
$iphone5-breakpoint: 321px;
$tiny-breakpoint: 300px;